<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to the text analyzer. Enter your text below</h1>
<form action="/analyze" method='post'> {% csrf_token %}
    <textarea name="text" id="" cols="30" rows="10"></textarea><br>
    <input type="checkbox" name="removepunc" id=""> Remove Punctuations <br>
    <input type="checkbox" name="fullcaps" id=""> UPPER CASE <br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>